
@model List<BasketItemVM>

<!-- Cart Page Start -->
<main class="cart-page-main-block inner-page-sec-padding-bottom">
	<div class="cart_area cart-area-padding  ">
		<div class="container">
			<div class="page-section-title">
				<h1>Shopping Cart</h1>
			</div>
			<div class="row">
				<div class="col-12">
					<form action="" class="">
						<!-- Cart Table -->
						<div class="cart-table table-responsive mb--40">
							<table class="table">
								<!-- Head Row -->
								<thead>
									<tr>
										<th class="pro-remove"></th>
										<th class="pro-thumbnail">Image</th>
										<th class="pro-title">Product</th>
										<th class="pro-price">Price</th>
										<th class="pro-quantity">Count</th>
										<th class="pro-subtotal">Total</th>
									</tr>
								</thead>
								<tbody>
									<!-- Product Row -->
									
										@foreach (var item in Model)
									{
										<tr>
											<td class="pro-remove">
												<a asp-action="RemoveBasket" asp-controller="Basket" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
											</td>
											<td class="pro-thumbnail">
												<a asp-action="Detail" asp-controller="Book" asp-route-id="@item.Id">
													<img src="~/assets/image/products/@item.Image" alt="Product">
												</a>
											</td>
											<td class="pro-title"><a href="#">@item.Name</a></td>
											<td class="pro-price"><span>$@item.Price</span></td>
											<td class="pro-quantity">
												<div class="pro-qty">
													<div class="count-input-block">
														<input type="number" class="form-control text-center"
															   value="1">
													</div>
												</div>
											</td>
											<td class="pro-subtotal"><span>$@item.Total</span></td>
										</tr>
									}
												
								</tbody>
							</table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="cart-section-2">
		<div class="container">
			<div class="row">
				<!-- Cart Summary -->
					<div class="col-lg-6 col-12 d-flex">
					<div class="cart-summary">
						<div class="cart-summary-wrap">
							<h4><span>Cart Summary</span></h4>
							<p>Tax free <span class="text-primary">$</span></p>
							<h2>Result Total <span class="text-primary">$</span></h2>
						</div>
						<div class="cart-summary-button">
							<a href="checkout.html" class="checkout-btn c-btn btn--primary">Checkout</a>
							<button class="update-btn c-btn btn-outlined">Update Cart</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- Cart Page End -->