@model LoginVM
<div class="row justify-content-center">

	<div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
		<form method="post">
			<div class="login-form">
				<h4 class="login-title">Returning Customer</h4>
				<p><span class="font-weight-bold">I am a returning customer</span></p>
				<div class="row justify-content-center">
					<form method="post">
						<div class="login-form">
							<h4 class="login-title">New Customer</h4>
							<p><span class="font-weight-bold">I am a new customer</span></p>
							<div  asp-validation-summary="ModelOnly"></div>
							<div class="col-md-12 col-12">
								<label asp-for="UserNameOrEmail">Username or Email</label>
								<input class="mb-0 form-control" asp-for="UserNameOrEmail" placeholder="Username or Email" />
								<span class="text-danger " asp-validation-for="UserNameOrEmail"></span>
							</div>
							<div class="col-md-12 col-12">
								<label asp-for="Password">Password</label>
								<input class="mb-0 form-control" asp-for="Password" placeholder="Password" />
								<span class="text-danger" asp-validation-for="Password"></span>
							</div>
							<div class="col-md-12 d-flex flex-row">
								<label asp-for="IsRemembered">Remember_Me</label>
								<input class="mb-0 form-control" asp-for="IsRemembered">
							</div>
							<div class="col-12">
								<div class="col-md-12">
									<button class="btn btn-outlined">Login</button>
									<a asp-action="Register" asp-controller="Account"> Dont you have an account? </a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</form>
	</div>


</div>



