@model BookCreateVM
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Author</h4>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Title">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Page</label>
                        <input asp-for="Page" class="form-control" placeholder="SubTitle">
                        <span asp-validation-for="Page" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AuthorId" for="exampleInputName1">AuthorId</label>
                        <select asp-for="AuthorId" asp-items="new SelectList(Model.Authors,nameof(Author.Id),nameof(Author.FullName))" class="form-control" placeholder="SubTitle asp-items=">
                        </select>
                        <span asp-validation-for="AuthorId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GenreId" for="exampleInputName1">GenreId</label>
                        <select asp-for="GenreId" asp-items="new SelectList(Model.Genres,nameof(Genre.Id),nameof(Genre.Name))" class="form-control" placeholder="SubTitle asp-items=">
                        </select>
                        <span asp-validation-for="GenreId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">TagId</label>
                        <select asp-for="TagIds" class="form-control" placeholder="SubTitle" asp-items="new SelectList(Model.Tags,nameof(Tags.Id),nameof(Tags.Name))">
                        </select>
                        <span asp-validation-for="TagIds" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">SalePrice</label>
                        <input asp-for="SalePrice" class="form-control" placeholder="SalePrice">
                        <span asp-validation-for="SalePrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">CostPrice</label>
                        <input asp-for="CostPrice" class="form-control" placeholder="CostPrice">
                        <span asp-validation-for="CostPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Description</label>
                        <input asp-for="Desc" class="form-control" placeholder="Description">
                        <span asp-validation-for="Desc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Discount</label>
                        <input asp-for="Discount" class="form-control" placeholder="Discount">
                        <span asp-validation-for="Discount" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a asp-action="index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>